@{
    ViewData["Title"] = "Home Page";
}

<!--Main Content Area-->
<main id="content">

    <!--Introduction-->
    <section id="about" class="introduction scrollto">

        <div class="row clearfix">

            <div class="col-3">
                <div class="section-heading">
                    <h2 class="section-title">Modifying Games</h2>
                    <p class ="section-subtitle">
                        A mod, short for modification, is a user-created alteration to a video game's content or mechanics.
                        Mods can range from minor tweaks to extensive overhauls, adding new features, characters, levels, 
                        or altering existing elements. They are typically created by the game's community.
                    </p>
                    <br />
                    <br />
                    <p class="section-subtitle">
                      While I do not have mods of my own to show off, 
                      here are three that I would like to highlight since they are technical marvels. 
                      The images of the mods are below.
                    </p>
                </div>

            </div>

            <div class="col-2-3">

                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fa fa-html5 fa-2x"></i>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>#1</h4>
                        <h4>Total Chaos - DOOM II: Hell on Earth</h4>
                        <p>
                            A total conversion mod for Doom 2 that runs on the GZDoom source port. 
                            The mod is a survival horror set on a remote island known as Fort Oasis. 
                            The island was once run by a community of coal miners which one day suddenly disappeared, leaving behind the abandoned concrete jungle to waste away.
                        </p>
                    </div>
                </div>
                <!--End of Icon Block-->
                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fa fa-bolt fa-2x"></i>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>#2</h4>
                        <h4>8 BIT RAID - Warcraft III: The Frozen Throne</h4>
                        <p>
                            This custom map created by z1z1z1 turns the famous Real-Time Strategy title into a 2-D, 6 player boss rush beat-em up!
                            Pick from an iconic cast of video game characters such as Sonic, Link, Mario and more as you fight against the likes of
                            Pac-Man, Bowser, Mappy!
                        </p>
                    </div>
                </div>
                <!--End of Icon Block-->
                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fa fa-tablet fa-2x"></i>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>#3</h4>
                        <h4>Enderal: The Shards of Order - The Elder Scrolls V: Skyrim</h4>
                        <p>
                            Enderal: The Shards of Order is a total conversion mod of Bethesda Softworks' The Elder Scrolls V: Skyrim developed by SureAI as a sequel to Nehrim: At Fate's Edge.
                            An expansion, Forgotten Stories, was released on February 14, 2019.
                        </p>
                    </div>
                </div>
                <!--End of Icon Block-->


            </div>
            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-rocket fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Why do so many people like modding?</h4>
                    <p>
                        Mods can enhance gameplay,
                        graphics, or overall user experience. Mods often extend the longevity and appeal of a game by
                        allowing players to customize their experience beyond the developer's original vision.
                    </p>
                </div>
            </div>
            <!--End of Icon Block-->
        </div>


    </section>
    <!--End of Introduction-->
    <!--Gallery-->
    <aside id="gallery" class="row text-center scrollto clearfix" data-featherlight-gallery
           data-featherlight-filter="a">

        <a href="images/gallery-images/gallery-image-1.jpg" data-featherlight="image" class="col-3 wow fadeIn"
           data-wow-delay="0.1s"><img src="images/gallery-images/gallery-image-1.jpg" alt="Landing Page" /></a>
        <a href="images/gallery-images/gallery-image-2.jpg" data-featherlight="image" class="col-3 wow fadeIn"
           data-wow-delay="0.3s"><img src="images/gallery-images/gallery-image-2.jpg" alt="Landing Page" /></a>
        <a href="images/gallery-images/gallery-image-3.jpg" data-featherlight="image" class="col-3 wow fadeIn"
           data-wow-delay="0.5s"><img src="images/gallery-images/gallery-image-3.jpg" alt="Landing Page" /></a>

    </aside>
    <!--End of Gallery-->
  
    <!--Testimonials-->
    <aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

        <div class="row clearfix">

            <div class="section-heading">
                <h2 class="section-title">Creators of the these modifications</h2>
            </div>

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <img src="images/user-images/user-1.jpg" alt="User" />
                <footer>Wadaholic - Total Chaos</footer>
                <q>
                    Sam Prebble (better known as wadaholic or Wad'a'Holic) is a Doom modder, level designer and game developer.
                    He is best known for being the original author of the popular Shotgun Frenzy mod for Skulltag, and later for creating the massive Total Chaos total conversion, which received a Mordeth Cacoward in 2018.
                    He is also an indie developer, currently working on Turbo Overkill, an indie FPS inspired by the newer Doom games.
                </q>
                <a href="https://wadaholic.wordpress.com" target="_blank">Wadaholic's Website</a>
            </blockquote>
            <!-- End of Testimonial-->
            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <img src="images/user-images/user-2.jpg" alt="User" />
                <footer>z1z1z1 - 8 BIT RAID</footer>
                <q>
                    I don't really know much about this mod author outside of their incredible talent of pushing
                    Warcraft III to its limits (and that they're Korean).
                </q>
            </blockquote>
            <!-- End of Testimonial-->
            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <img src="images/user-images/user-3.jpg" alt="User" />
                <footer>SureAI - Enderal: The Shards of Order</footer>
                <q>
                    SureAI is a German team of video game developers, best known for creating several total conversion mods of Bethesda Softworks' The Elder Scrolls and Fallout series. 
                    SureAI has released 6 total full conversion mods, which are all free since they modify pre-existing games.
                </q>
                <a href="https://sureai.net" target="_blank">SureAI.net</a>
            </blockquote>
            <!-- End of Testimonial-->

        </div>

    </aside>
    <!--End of Testimonials-->

    

</main>
<!--End Main Content Area-->
